@model PaymentGetway.Models.EntityOrder

<h2>Payment Successful 🎉</h2>

<p><b>Name:</b> @Model.Name</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Mobile:</b> @Model.Mobile</p>
<p><b>Amount Paid:</b> ₹@Model.Amount</p>
<p><b>Transaction ID:</b> @Model.TransactionId</p>
<p><b>Order ID:</b> @Model.OrderId</p>
